%h3.home.home-title What activity are we logging?
%ul.home.links
  %li
    = link_to "Resistance Training", new_resistance_training_activity_path
  %li
    = link_to "Running", new_run_path
  %li
    = link_to "Cycling", new_cycle_ride_path
  %li
    = link_to "A meal", new_meal_path
  %li
    = link_to "Sleep", new_sleep_period_path
