%h3.home.home-title What activity are we logging today?
%ul.home.links
  %li
    = link_to "Running", new_run_path, class: "hover-show"
    = link_to "View all", runs_path, class: "undecorated"
  %li
    = link_to "Resistance Training", new_resistance_training_activity_path
    = link_to "View all", "#", class: "undecorated"
  %li
    = link_to "Cycling", new_cycle_ride_path
    = link_to "View all", "#", class: "undecorated"
  %li
    = link_to "A meal", new_meal_path
    = link_to "View all", "#", class: "undecorated"
  %li
    = link_to "Sleep", new_sleep_period_path
    = link_to "View all", "#", class: "undecorated"
