What activity are we logging?
= link_to "Resistance Training", new_resistance_training_activity_path
= link_to "Running", new_running_activity_path
= link_to "Cycling", new_cycling_activity_path
= link_to "A meal", new_meal_path
= link_to "Sleep", new_sleep_period_path
